##  kgmyh@naver.com

In [228]:
import pandas as pd
import numpy as np

# Seoul_report.csv 읽기
+ 서울시 주민등록인구 (구별) 통계 - [서울열린데이터광장 ](http://data.seoul.go.kr/dataList/datasetView.do?serviceKind=2&infId=419&stcSrl=419&srvType=S)

## CSV 파일 읽기
- Seoul_report.csv 파일의 내용을 DataFrame으로 읽고 변수에 대입

In [229]:
seoul_report_df=pd.read_csv('data2/Seoul_report.csv')

In [230]:
seoul_report_df

,자치구,세대,총합계,남자,여자,한국인합계,한국인남자,한국인여자,외국인합계,남자외국인,여자외국인,세대당인구,65세이상고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

# 열명 변경
- 읽은 DataFrame에 어떤 컬럼이 있는지 확인하고 열명을 아래와 같이 바꾼다. (이외 열이름은 그대로 유지)    
    - '총합계' : '총인구' 
    - '한국인합계': '한국인'
    - '외국인합계' : '외국인'
    - '65세이상고령자' : '고령자'

In [232]:
seoul_report_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   자치구       26 non-null     object
 1   세대        26 non-null     int64
 2   총합계       26 non-null     int64
 3   남자        26 non-null     int64
 4   여자        26 non-null     int64
 5   한국인합계     26 non-null     int64
 6   한국인남자     26 non-null     int64
 7   한국인여자     26 non-null     int64
 8   외국인합계     26 non-null     int64
 9   남자외국인     26 non-null     int64
 10  여자외국인     26 non-null     int64
 11  세대당인구     26 non-null     float64
 12  65세이상고령자  26 non-null     int64
dtypes: float64(1), int64(11), object(1)
memory usage: 2.8+ KB

In [7]:
seoul_report_df.columns

Index(['자치구', '세대', '총합계', '남자', '여자', '한국인합계', '한국인남자', '한국인여자', '외국인합계',
       '남자외국인', '여자외국인', '세대당인구', '65세이상고령자'],
      dtype='object')

# rename 까먹지 말자!

In [ ]:
# seoul_report_df.columns =[]  --->전체 컬럼 바꿀때 .


# #dic = {
#     '총합계' : '총인구' 
#     '한국인합계': '한국인'
#     '외국인합계' : '외국인'
#     '65세이상고령자' : '고령자'
#         }
#seoul_report_df.rename(dic, axis =1)

In [234]:
seoul_report_df.rename({'총합계' : '총인구',
                        '한국인합계': '한국인',
                        '외국인합계' : '외국인',
                        '65세이상고령자' : '고령자'},
                         axis =1,inplace = True) # 바꾸고 싶은(여러가지 )컬럼명 바꿀때 rename 사용

In [235]:
seoul_report_df

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

# 사용할 열들만 추출
- 자치구, 총인구, 한국인, 외국인, 고령자 열만 가지는 dataframe 생성
    - shape이 (5, n) 이 되도록

In [236]:
seoul_df=seoul_report_df[['자치구','총인구','한국인','외국인','고령자']]  # 주말에다시 보기 
seoul_df

     자치구       총인구      한국인     외국인      고령자
0     합계  10112070  9838892  273178  1382420
1    종로구    164348   154549    9799    26429
2     중구    135139   126082    9057    21655
3    용산구    245411   229909   15502    37238
4    성동구    314551   306532    8019    41752
5    광진구    371671   357149   14522    44470
6   동대문구    364962   349308   15654    56284
7    중랑구    411552   406868    4684    59992
8    성북구    453902   442226   11676    66896
9    강북구    327511   323862    3649    57002
10   도봉구    345041   342861    2180    54293
11   노원구    555803   551902    3901    75081
12   은평구    490253   485902    4351    75535
13  서대문구    324871   312311   12560    49645
14   마포구    385624   374742   10882    50122
15   양천구    473087   469221    3866    56070
16   강서구    608361   601696    6665    77381
17   구로구    440396   408369   32027    59838
18   금천구    253344   234238   19106    34640
19  영등포구    403988   369128   34860    54704
20   동작구    406715   394353   12362    57711
21   관악구    522292   504445   17847    70807
22   서초구    445164   440954    4210    54055
23   강남구    557865   552976    4889    65859
24   송파구    671994   665282    6712    77978
25   강동구    438225   434027    4198    56983

# DataFrame 개괄 정보 조회
1. 몇행/몇열인지 조회
1. 결측치가 있는지 조회
1. DataFrame에 대한 정보(index, columns) 확인
1. 상위 5개 행만 조회
1. 하위 5개 행만 조회
1. 컬럼별 통계량 요약 조회

In [35]:
#몇행/몇열인지 조회
seoul_report_df.info()  # 26행, 13열

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     26 non-null     object
 1   세대      26 non-null     int64
 2   총인구     26 non-null     int64
 3   남자      26 non-null     int64
 4   여자      26 non-null     int64
 5   한국인     26 non-null     int64
 6   한국인남자   26 non-null     int64
 7   한국인여자   26 non-null     int64
 8   외국인     26 non-null     int64
 9   남자외국인   26 non-null     int64
 10  여자외국인   26 non-null     int64
 11  세대당인구   26 non-null     float64
 12  고령자     26 non-null     int64
dtypes: float64(1), int64(11), object(1)
memory usage: 2.8+ KB

In [274]:
# 결측치가 있는지 조회 # 없음
seoul_report_df.isna().sum()

자치구      0
세대       0
총인구      0
남자       0
여자       0
한국인      0
한국인남자    0
한국인여자    0
외국인      0
남자외국인    0
여자외국인    0
세대당인구    0
고령자      0
dtype: int64

In [237]:
seoul_report_df.isna().sum()

자치구      0
세대       0
총인구      0
남자       0
여자       0
한국인      0
한국인남자    0
한국인여자    0
외국인      0
남자외국인    0
여자외국인    0
세대당인구    0
고령자      0
dtype: int64

In [39]:
# index, columns  조회
seoul_report_df.index

RangeIndex(start=0, stop=26, step=1)

In [40]:
seoul_report_df.columns

Index(['자치구', '세대', '총인구', '남자', '여자', '한국인', '한국인남자', '한국인여자', '외국인', '남자외국인',
       '여자외국인', '세대당인구', '고령자'],
      dtype='object')

In [41]:
#상위 5개 행만 조회
seoul_report_df.head()

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752

In [42]:
#하위 5개 행만 조회
seoul_report_df.tail()

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

In [44]:
#컬럼별 통계량 요약 조회
seoul_report_df.describe()

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
count,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,2.600000e+01,26.000000,26.000000,26.000000,26.000000,2.600000e+01
mean,3.259700e+05,7.778515e+05,3.806524e+05,3.971992e+05,7.568378e+05,3.705775e+05,3.862604e+05,21013.692308,10074.923077,10938.769231,2.304231,1.063400e+05
std,7.994606e+05,1.907984e+06,9.336645e+05,9.743318e+05,1.856777e+06,9.091048e+05,9.476827e+05,52081.287523,25097.518239,27026.919566,0.164175,2.606869e+05
min,6.090300e+04,1.351390e+05,6.658200e+04,6.855700e+04,1.260820e+05,6.237600e+04,6.370600e+04,2180.000000,824.000000,1356.000000,1.950000,2.165500e+04
25%,1.391032e+05,3.318935e+05,1.620980e+05,1.714852e+05,3.286118e+05,1.608322e+05,1.677745e+05,4434.250000,2017.250000,2427.500000,2.200000,4.976425e+04
50%,1.726475e+05,4.091335e+05,2.039415e+05,2.080040e+05,4.006105e+05,1.973705e+05,2.032400e+05,9428.000000,4186.500000,5218.500000,2.275000,5.663350e+04
75%,1.993818e+05,4.859615e+05,2.364538e+05,2.495078e+05,4.817318e+05,2.346078e+05,2.471240e+05,15257.000000,6171.250000,8319.000000,2.390000,6.663675e+04
max,4.237610e+06,1.011207e+07,4.948481e+06,5.163589e+06,9.838892e+06,4.817507e+06,5.021385e+06,273178.000000,130974.000000,142204.000000,2.660000,1.382420e+06

# 열이름으로 조회
1. 총인구 열의 모든 값들을 조회
1. 한국인, 외국인 열의 모든 값들을 조회

In [47]:
seoul_report_df['총인구']

0     10112070
1       164348
2       135139
3       245411
4       314551
5       371671
6       364962
7       411552
8       453902
9       327511
10      345041
11      555803
12      490253
13      324871
14      385624
15      473087
16      608361
17      440396
18      253344
19      403988
20      406715
21      522292
22      445164
23      557865
24      671994
25      438225
Name: 총인구, dtype: int64

In [48]:
seoul_report_df[['한국인','외국인']]

        한국인     외국인
0   9838892  273178
1    154549    9799
2    126082    9057
3    229909   15502
4    306532    8019
5    357149   14522
6    349308   15654
7    406868    4684
8    442226   11676
9    323862    3649
10   342861    2180
11   551902    3901
12   485902    4351
13   312311   12560
14   374742   10882
15   469221    3866
16   601696    6665
17   408369   32027
18   234238   19106
19   369128   34860
20   394353   12362
21   504445   17847
22   440954    4210
23   552976    4889
24   665282    6712
25   434027    4198

# 행기준 조회
1. 5번째 행의 데이터를 조회.
1. 1, 5, 7, 10 번째 행의 데이터를 조회
1. 15 ~ 20 번째 행의 데이터를 조회
1. 10~15 행에서 자치구, 총인구, 한국인 열의 값을 조회
1. 6, 7, 8 번째 행의 한국인, 외국인 열의 값을 조회

In [49]:
#1
seoul_report_df.iloc[5]

자치구         광진구
세대       161407
총인구      371671
남자       180206
여자       191465
한국인      357149
한국인남자    173946
한국인여자    183203
외국인       14522
남자외국인      6260
여자외국인      8262
세대당인구      2.21
고령자       44470
Name: 5, dtype: object

In [50]:
#2
seoul_report_df.loc[[1,5,7,10]]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293

In [52]:
#3
seoul_report_df.loc[15:20]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711

In [53]:
#4
seoul_report_df.loc[10:15,['자치구','총인구','한국인']]

     자치구     총인구     한국인
10   도봉구  345041  342861
11   노원구  555803  551902
12   은평구  490253  485902
13  서대문구  324871  312311
14   마포구  385624  374742
15   양천구  473087  469221

In [56]:
#5
seoul_report_df.loc[6:8, ['한국인','외국인']]

      한국인    외국인
6  349308  15654
7  406868   4684
8  442226  11676

# index 이름 지정
1. '자치구' 열을 index로 설정
1. 데이터 프레임의 index이름 조회
1. 강남구 행 조회
1. 종로구, 성동구, 서대문구 행 조회
1. 노원구 ~ 금천구 조회
1. 종로구의 한국인,외국인 열의 값 조회
1. 도봉구, 노원구, 송파구의 총인구와 고령자 열의 값 조회

In [61]:
#1
seoul_report1=seoul_report_df.set_index('자치구')
seoul_report1

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

In [64]:
#2
seoul_report1.index

Index(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구',
       '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype='object', name='자치구')

In [65]:
#3
seoul_report1.loc['강남구']

세대       231219.00
총인구      557865.00
남자       267314.00
여자       290551.00
한국인      552976.00
한국인남자    264834.00
한국인여자    288142.00
외국인        4889.00
남자외국인      2480.00
여자외국인      2409.00
세대당인구         2.39
고령자       65859.00
Name: 강남구, dtype: float64

In [66]:
#4종로구, 성동구, 서대문구 행 조회
seoul_report1.loc[['종로구','성동구','서대문구']]

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645

In [67]:
#5 노원구 ~ 금천구 조회
seoul_report1.loc['노원구':'금천구']

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640

In [69]:
#6 종로구의 한국인,외국인 열의 값 조회
seoul_report1.loc['종로구',['한국인','외국인']]

한국인    154549.0
외국인      9799.0
Name: 종로구, dtype: float64

In [71]:
#7 도봉구, 노원구, 송파구의 총인구와 고령자 열의 값 조회
seoul_report1.loc[['도봉구','노원구','송파구'],['총인구','고령자']]

        총인구    고령자
자치구
도봉구  345041  54293
노원구  555803  75081
송파구  671994  77978

# Boolean 인덱싱 - 조건으로 조회
1. 총인구가 500,000 이상인 행 조회
1. 외국인이 15,000 이상인 행의 한국인, 외국인 열 조회
1. 외국인이 고령자보다 많은 행을 조회 (없으므로 아무 행도 안나오는게 정상임)
1. 고령자수가 60,000 ~ 70,000 인 행 조회
1. 외국인이 15,000 이상이고 고령자가 50,000 이상인 행을 조회

### Boolean index ---> loc 써서하기~~!!!!

In [238]:
seoul_report_df.loc[seoul_report_df['총인구']>500000]  # iloc 으로는 조회 불가능

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978

In [75]:
seoul_report_df[seoul_report_df['총인구']>500000]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978

In [241]:
seoul_report_df.loc[seoul_report_df['외국인']>15000,['한국인','외국인']]

        한국인     외국인
0   9838892  273178
3    229909   15502
6    349308   15654
17   408369   32027
18   234238   19106
19   369128   34860
21   504445   17847

In [79]:
seoul_report_df[seoul_report_df['외국인']>15000][['한국인','외국인']]

        한국인     외국인
0   9838892  273178
3    229909   15502
6    349308   15654
17   408369   32027
18   234238   19106
19   369128   34860
21   504445   17847

In [82]:
seoul_report_df[seoul_report_df['외국인'] > seoul_report_df['고령자']]

Empty DataFrame
Columns: [자치구, 세대, 총인구, 남자, 여자, 한국인, 한국인남자, 한국인여자, 외국인, 남자외국인, 여자외국인, 세대당인구, 고령자]
Index: []

In [85]:
seoul_report_df[(seoul_report_df['고령자']>=60000)&(seoul_report_df['고령자']<=70000)]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859

In [243]:
# 시리즈.between(a,b) # between a and b

seoul_report_df.loc[seoul_report_df['고령자'].between(60000,70000)] # 고령자 60000~70000

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859

In [86]:
seoul_report_df[(seoul_report_df['외국인']>=15000) & (seoul_report_df['고령자']>=50000)]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807

# 정렬  ### 헷갈리는 부분 있음 복습하기
1. 자치구컬럼 기준 오름차순 순으로 정렬
1. 자치구컬럼 기준 내림차순 순으로 정렬
1. 외국인이 많이 있는 순으로 정렬
1. 한국인이 많이 있는 순서로 정렬하고 혹시 같으면 고령자가 적은 순으로 2차 정렬
1. 합계를 지우고 총인구 내림차순으로 정렬

In [246]:
df=seoul_report_df.set_index('자치구')

In [249]:
df2 = df.sort_index()
df2

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420

In [251]:
df2['강':'도']  # 정렬이 된후에만 적용가능 // end는 포함 안됨// 강~ 노 로 시작하는 것

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081

In [250]:
df.sort_index(axis = 1)

,고령자,남자,남자외국인,세대,세대당인구,여자,여자외국인,외국인,총인구,한국인,한국인남자,한국인여자
자치구,,,,,,,,,,,,
합계,1382420,4948481,130974,4237610,2.32,5163589,142204,273178,10112070,9838892,4817507,5021385
종로구,26429,79962,4213,73879,2.09,84386,5586,9799,164348,154549,75749,78800
중구,21655,66582,4206,60903,2.07,68557,4851,9057,135139,126082,62376,63706
용산구,37238,119985,8723,108497,2.12,125426,6779,15502,245411,229909,111262,118647
성동구,41752,154672,3735,134543,2.28,159879,4284,8019,314551,306532,150937,155595
광진구,44470,180206,6260,161407,2.21,191465,8262,14522,371671,357149,173946,183203
동대문구,56284,180381,5905,160489,2.18,184581,9749,15654,364962,349308,174476,174832
중랑구,59992,204411,1885,179600,2.27,207141,2799,4684,411552,406868,202526,204342
성북구,66896,220024,4603,187234,2.36,233878,7073,11676,453902,442226,215421,226805
강북구,57002,159853,1413,143139,2.26,167658,2236,3649,327511,323862,158440,165422
도봉구,54293,168833,824,137479,2.49,176208,1356,2180,345041,342861,168009,174852
노원구,75081,269762,1618,217999,2.53,286041,2283,3901,555803,551902,268144,283758
은평구,75535,237542,1868,203431,2.39,252711,2483,4351,490253,485902,235674,250228
서대문구,49645,154960,4167,137758,2.27,169911,8393,12560,324871,312311,150793,161518
마포구,50122,182905,4244,170219,2.20,202719,6638,10882,385624,374742,178661,196081
양천구,56070,233189,1780,176559,2.66,239898,2086,3866,473087,469221,231409,237812
강서구,77381,296098,3227,256042,2.35,312263,3438,6665,608361,601696,292871,308825
구로구,59838,220903,18172,171751,2.38,219493,13855,32027,440396,408369,202731,205638
금천구,34640,129791,10768,106333,2.20,123553,8338,19106,253344,234238,119023,115215
영등포구,54704,203472,19345,168784,2.19,200516,15515,34860,403988,369128,184127,185001
동작구,57711,197848,5633,173544,2.27,208867,6729,12362,406715,394353,192215,202138
관악구,70807,262428,8517,258536,1.95,259864,9330,17847,522292,504445,253911,250534
서초구,54055,213279,2123,174225,2.53,231885,2087,4210,445164,440954,211156,229798
강남구,65859,267314,2480,231219,2.39,290551,2409,4889,557865,552976,264834,288142
송파구,77978,326511,3283,266550,2.50,345483,3429,6712,671994,665282,323228,342054
강동구,56983,217570,1982,177490,2.45,220655,2216,4198,438225,434027,215588,218439

In [244]:
seoul_report_df.sort_values('자치구')

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420

In [92]:
seoul_report_df.sort_values('자치구',ascending = False)

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859

In [93]:
seoul_report_df.sort_values('외국인',ascending = False)

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293

In [95]:
seoul_report_df.sort_values(['한국인','고령자'],ascending = [False,True])

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655

In [101]:
# 합계를 지우고 총인구 내림차순으로 정렬
seoul_report_df.drop(0,axis =0).sort_values('총인구',ascending = [False])

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655

# 열 추가 - 파생변수
1. 총인구 대비 외국인의 비율을 계산한 값을 **외국인비율** 컬럼을 만들어 넣기 (외국인/총인구 * 100)
1. 총인구 대비 고령자의 비율을 계산한 값을 **고령자비율** 컬럼을 만들어 넣기

In [278]:
seoul_report_df #9번자리

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

In [279]:
# 외국인 비율
round(seoul_report_df['외국인']/seoul_report_df['총인구']*100,2)

0     2.70
1     5.96
2     6.70
3     6.32
4     2.55
5     3.91
6     4.29
7     1.14
8     2.57
9     1.11
10    0.63
11    0.70
12    0.89
13    3.87
14    2.82
15    0.82
16    1.10
17    7.27
18    7.54
19    8.63
20    3.04
21    3.42
22    0.95
23    0.88
24    1.00
25    0.96
dtype: float64

In [280]:
seoul_report_df.insert(9,'외국인 비율',round(seoul_report_df['외국인']/seoul_report_df['총인구']*100,2))
seoul_report_df.insert

<bound method DataFrame.insert of      자치구       세대       총인구       남자       여자      한국인    한국인남자    한국인여자  \
0     합계  4237610  10112070  4948481  5163589  9838892  4817507  5021385
1    종로구    73879    164348    79962    84386   154549    75749    78800
2     중구    60903    135139    66582    68557   126082    62376    63706
3    용산구   108497    245411   119985   125426   229909   111262   118647
4    성동구   134543    314551   154672   159879   306532   150937   155595
5    광진구   161407    371671   180206   191465   357149   173946   183203
6   동대문구   160489    364962   180381   184581   349308   174476   174832
7    중랑구   179600    411552   204411   207141   406868   202526   204342
8    성북구   187234    453902   220024   233878   442226   215421   226805
9    강북구   143139    327511   159853   167658   323862   158440   165422
10   도봉구   137479    345041   168833   176208   342861   168009   174852
11   노원구   217999    555803   269762   286041   551902   268144   283758
12   은평구   203431    490253   237542   252711   485902   235674   250228
13  서대문구   137758    324871   154960   169911   312311   150793   161518
14   마포구   170219    385624   182905   202719   374742   178661   196081
15   양천구   176559    473087   233189   239898   469221   231409   237812
16   강서구   256042    608361   296098   312263   601696   292871   308825
17   구로구   171751    440396   220903   219493   408369   202731   205638
18   금천구   106333    253344   129791   123553   234238   119023   115215
19  영등포구   168784    403988   203472   200516   369128   184127   185001
20   동작구   173544    406715   197848   208867   394353   192215   202138
21   관악구   258536    522292   262428   259864   504445   253911   250534
22   서초구   174225    445164   213279   231885   440954   211156   229798
23   강남구   231219    557865   267314   290551   552976   264834   288142
24   송파구   266550    671994   326511   345483   665282   323228   342054
25   강동구   177490    438225   217570   220655   434027   215588   218439

       외국인  외국인 비율   남자외국인   여자외국인  세대당인구      고령자
0   273178    2.70  130974  142204   2.32  1382420
1     9799    5.96    4213    5586   2.09    26429
2     9057    6.70    4206    4851   2.07    21655
3    15502    6.32    8723    6779   2.12    37238
4     8019    2.55    3735    4284   2.28    41752
5    14522    3.91    6260    8262   2.21    44470
6    15654    4.29    5905    9749   2.18    56284
7     4684    1.14    1885    2799   2.27    59992
8    11676    2.57    4603    7073   2.36    66896
9     3649    1.11    1413    2236   2.26    57002
10    2180    0.63     824    1356   2.49    54293
11    3901    0.70    1618    2283   2.53    75081
12    4351    0.89    1868    2483   2.39    75535
13   12560    3.87    4167    8393   2.27    49645
14   10882    2.82    4244    6638   2.20    50122
15    3866    0.82    1780    2086   2.66    56070
16    6665    1.10    3227    3438   2.35    77381
17   32027    7.27   18172   13855   2.38    59838
18   19106    7.54   10768    8338   2.20    34640
19   34860    8.63   19345   15515   2.19    54704
20   12362    3.04    5633    6729   2.27    57711
21   17847    3.42    8517    9330   1.95    70807
22    4210    0.95    2123    2087   2.53    54055
23    4889    0.88    2480    2409   2.39    65859
24    6712    1.00    3283    3429   2.50    77978
25    4198    0.96    1982    2216   2.45    56983  >

In [281]:
seoul_report_df

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,외국인 비율,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,2.70,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,5.96,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,6.70,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,6.32,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,2.55,3735,4284,2.28,41752
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,3.91,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,4.29,5905,9749,2.18,56284
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1.14,1885,2799,2.27,59992
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,2.57,4603,7073,2.36,66896
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1.11,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,0.63,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,0.70,1618,2283,2.53,75081
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,0.89,1868,2483,2.39,75535
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,3.87,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,2.82,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,0.82,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,1.10,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,7.27,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,7.54,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,8.63,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,3.04,5633,6729,2.27,57711
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,3.42,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,0.95,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,0.88,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,1.00,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,0.96,1982,2216,2.45,56983

In [282]:
# 고령자 비율
round(seoul_report_df['고령자']/seoul_report_df['총인구']*100,2)

0     13.67
1     16.08
2     16.02
3     15.17
4     13.27
5     11.96
6     15.42
7     14.58
8     14.74
9     17.40
10    15.74
11    13.51
12    15.41
13    15.28
14    13.00
15    11.85
16    12.72
17    13.59
18    13.67
19    13.54
20    14.19
21    13.56
22    12.14
23    11.81
24    11.60
25    13.00
dtype: float64

In [283]:
# insert 말고 append 로 하는 방법이 있었던거 같음~  --> 그냥 "df[]= 값" 을 하면됨// 강사님것 참고.
seoul_report_df.insert(14,'고령자비율',round(seoul_report_df['고령자']/seoul_report_df['총인구']*100,2))

In [124]:
seoul_report_df

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,외국인 비율,남자외국인,여자외국인,세대당인구,고령자,고령자비율
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,2.70,130974,142204,2.32,1382420,13.67
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,5.96,4213,5586,2.09,26429,16.08
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,6.70,4206,4851,2.07,21655,16.02
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,6.32,8723,6779,2.12,37238,15.17
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,2.55,3735,4284,2.28,41752,13.27
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,3.91,6260,8262,2.21,44470,11.96
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,4.29,5905,9749,2.18,56284,15.42
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1.14,1885,2799,2.27,59992,14.58
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,2.57,4603,7073,2.36,66896,14.74
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1.11,1413,2236,2.26,57002,17.40
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,0.63,824,1356,2.49,54293,15.74
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,0.70,1618,2283,2.53,75081,13.51
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,0.89,1868,2483,2.39,75535,15.41
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,3.87,4167,8393,2.27,49645,15.28
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,2.82,4244,6638,2.20,50122,13.00
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,0.82,1780,2086,2.66,56070,11.85
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,1.10,3227,3438,2.35,77381,12.72
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,7.27,18172,13855,2.38,59838,13.59
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,7.54,10768,8338,2.20,34640,13.67
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,8.63,19345,15515,2.19,54704,13.54
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,3.04,5633,6729,2.27,57711,14.19
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,3.42,8517,9330,1.95,70807,13.56
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,0.95,2123,2087,2.53,54055,12.14
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,0.88,2480,2409,2.39,65859,11.81
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,1.00,3283,3429,2.50,77978,11.60
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,0.96,1982,2216,2.45,56983,13.00

# 기술 통계정보
1. 아래를 조회하는데 합계 행은 빼고 계산한다.
1. 총인구 컬럼의 평균, 합계, 중위값, 표준편차, 분산, 데이터개수
1. 외국인과 고령자의 평균, 표준편차 조회
1. 외국인이 가장 적은 행을 조회

In [253]:
seoul_report_df

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

In [254]:
# 합계 뺀 DataFrame
# seoul_report_copy=seoul_report_df.drop(index ='합계')
# seoul_report_copy=seoul_report_df.drop('합계',axis =0)
seoul_report_copy=seoul_report_df.drop(0,axis =0)
seoul_report_copy

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

In [256]:
#총인구 컬럼의 평균, 합계, 중위값, 표준편차, 분산, 데이터개수
seoul_report_copy['총인구'].agg(['mean','sum','median','count','std','var'])#'std','var', ---> 이것 두개를 넣는순간 error 발생한다 왜그러지??

mean      4.044828e+05
sum       1.011207e+07
median    4.067150e+05
count     2.500000e+01
std       1.286647e+05
var       1.655461e+10
Name: 총인구, dtype: float64

# ******************************************************

In [144]:
seoul_report_copy['총인구'].agg(['std'])

std    128664.735948
Name: 총인구, dtype: float64

In [145]:
seoul_report_copy['총인구'].agg('var')

16554614276.583336

In [147]:
seoul_report_copy['총인구'].describe()

count        25.000000
mean     404482.800000
std      128664.735948
min      135139.000000
25%      327511.000000
50%      406715.000000
75%      473087.000000
max      671994.000000
Name: 총인구, dtype: float64

In [255]:
#외국인과 고령자의 평균, 표준편차 조회
seoul_report_copy[['외국인','고령자']].agg(['mean','std'])

               외국인           고령자
mean  10927.120000  55296.800000
std    8369.590678  15035.905515

In [153]:
seoul_report_copy['외국인'].std()

8369.590677566019

In [260]:
seoul_report_copy['외국인'].sort_values()
seoul_report_copy.loc[seoul_report_copy['외국인'].idxmin()]

자치구         도봉구
세대       137479
총인구      345041
남자       168833
여자       176208
한국인      342861
한국인남자    168009
한국인여자    174852
외국인        2180
남자외국인       824
여자외국인      1356
세대당인구      2.49
고령자       54293
Name: 10, dtype: object

# DataFrame 병합하기
### seoul_cctv.csv 파일
- 서울 자치구 연도별 CCTV 데이터 셋 [서울열린데이터광장](http://data.seoul.go.kr/dataList/OA-2734/C/1/datasetView.do)    


1. seoul_cctv.csv 파일을 DataFrame으로 읽기
2. 서울시 자치구별 인구 DataFrame과 서울시 자치구 CCTV 데이터 셋을 **자치구명을 기준으로** 결합하여 하나의 DataFrame으로 만드시오.

In [263]:
# 강사님거 참고해보기

In [159]:
# seoul_cctv.csv 파일을 DataFrame으로 읽기
seoul_cctv=pd.read_csv('data2/seoul_cctv.csv')
print(seoul_cctv.info())
print(seoul_cctv.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기관명           25 non-null     object
 1   2014년 CCTV 수  25 non-null     int64
 2   2015년 CCTV 수  25 non-null     int64
 3   2016년 CCTV 수  25 non-null     int64
dtypes: int64(3), object(1)
memory usage: 928.0+ bytes
None
   기관명  2014년 CCTV 수  2015년 CCTV 수  2016년 CCTV 수
0  강남구           430           584           932
1  강동구            99           155           377
2  강북구           120           138           204
3  강서구           258           184            81
4  관악구           260           390           613

In [163]:
seoul_cctv  # 기관명

     기관명  2014년 CCTV 수  2015년 CCTV 수  2016년 CCTV 수
0    강남구           430           584           932
1    강동구            99           155           377
2    강북구           120           138           204
3    강서구           258           184            81
4    관악구           260           390           613
5    광진구            78            53           174
6    구로구           173           246           323
7    금천구            51           269           354
8    노원구            57           451           516
9    도봉구           159            42           386
10  동대문구            23           198           579
11   동작구           341           103           314
12   마포구           118           169           379
13  서대문구            50            68           292
14   서초구           157           336           398
15   성동구            91           241           265
16   성북구            78           360           204
17   송파구            21            68           463
18   양천구           142            30           467
19  영등포구           214           195           373
20   용산구           218           112           398
21   은평구           224           278           468
22   종로구           314           211           630
23    중구           190            72           348
24   중랑구           121           177           109

In [285]:
seoul_report_df

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,외국인 비율,남자외국인,여자외국인,세대당인구,고령자,고령자비율
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,2.70,130974,142204,2.32,1382420,13.67
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,5.96,4213,5586,2.09,26429,16.08
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,6.70,4206,4851,2.07,21655,16.02
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,6.32,8723,6779,2.12,37238,15.17
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,2.55,3735,4284,2.28,41752,13.27
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,3.91,6260,8262,2.21,44470,11.96
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,4.29,5905,9749,2.18,56284,15.42
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1.14,1885,2799,2.27,59992,14.58
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,2.57,4603,7073,2.36,66896,14.74
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1.11,1413,2236,2.26,57002,17.40
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,0.63,824,1356,2.49,54293,15.74
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,0.70,1618,2283,2.53,75081,13.51
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,0.89,1868,2483,2.39,75535,15.41
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,3.87,4167,8393,2.27,49645,15.28
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,2.82,4244,6638,2.20,50122,13.00
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,0.82,1780,2086,2.66,56070,11.85
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,1.10,3227,3438,2.35,77381,12.72
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,7.27,18172,13855,2.38,59838,13.59
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,7.54,10768,8338,2.20,34640,13.67
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,8.63,19345,15515,2.19,54704,13.54
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,3.04,5633,6729,2.27,57711,14.19
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,3.42,8517,9330,1.95,70807,13.56
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,0.95,2123,2087,2.53,54055,12.14
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,0.88,2480,2409,2.39,65859,11.81
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,1.00,3283,3429,2.50,77978,11.60
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,0.96,1982,2216,2.45,56983,13.00

In [ ]:
# 서울시 자치구별 인구 DataFrame과 서울시 자치구 CCTV 데이터 셋을 자치구명을 기준으로 결합하여 하나의 DataFrame으로 만드시오.

In [ ]:
#join() - 2개 이상 DF. index기준
#merge() - 2개 DF. 캍은 이름의 컬럼 - 설정을 이용해 자유롭게 기준 설정`

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자,2014년 CCTV 수,2015년 CCTV 수,2016년 CCTV 수
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420,NaN,NaN,NaN
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429,NaN,NaN,NaN
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655,NaN,NaN,NaN
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238,NaN,NaN,NaN
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752,NaN,NaN,NaN
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470,NaN,NaN,NaN
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284,NaN,NaN,NaN
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992,NaN,NaN,NaN
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896,NaN,NaN,NaN
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002,NaN,NaN,NaN
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293,NaN,NaN,NaN
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081,NaN,NaN,NaN
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535,NaN,NaN,NaN
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645,NaN,NaN,NaN
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122,NaN,NaN,NaN
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070,NaN,NaN,NaN
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381,NaN,NaN,NaN
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838,NaN,NaN,NaN
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640,NaN,NaN,NaN
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704,NaN,NaN,NaN
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711,NaN,NaN,NaN
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807,NaN,NaN,NaN
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055,NaN,NaN,NaN
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859,NaN,NaN,NaN
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978,NaN,NaN,NaN
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983,NaN,NaN,NaN

In [286]:
result=seoul_report_df.merge(seoul_cctv, left_on= '자치구' ,right_on = '기관명', how ='inner' )#,how ='outer')  
result

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,외국인 비율,남자외국인,여자외국인,세대당인구,고령자,고령자비율,기관명,2014년 CCTV 수,2015년 CCTV 수,2016년 CCTV 수
0,종로구,73879,164348,79962,84386,154549,75749,78800,9799,5.96,4213,5586,2.09,26429,16.08,종로구,314,211,630
1,중구,60903,135139,66582,68557,126082,62376,63706,9057,6.70,4206,4851,2.07,21655,16.02,중구,190,72,348
2,용산구,108497,245411,119985,125426,229909,111262,118647,15502,6.32,8723,6779,2.12,37238,15.17,용산구,218,112,398
3,성동구,134543,314551,154672,159879,306532,150937,155595,8019,2.55,3735,4284,2.28,41752,13.27,성동구,91,241,265
4,광진구,161407,371671,180206,191465,357149,173946,183203,14522,3.91,6260,8262,2.21,44470,11.96,광진구,78,53,174
5,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,4.29,5905,9749,2.18,56284,15.42,동대문구,23,198,579
6,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1.14,1885,2799,2.27,59992,14.58,중랑구,121,177,109
7,성북구,187234,453902,220024,233878,442226,215421,226805,11676,2.57,4603,7073,2.36,66896,14.74,성북구,78,360,204
8,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1.11,1413,2236,2.26,57002,17.40,강북구,120,138,204
9,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,0.63,824,1356,2.49,54293,15.74,도봉구,159,42,386
10,노원구,217999,555803,269762,286041,551902,268144,283758,3901,0.70,1618,2283,2.53,75081,13.51,노원구,57,451,516
11,은평구,203431,490253,237542,252711,485902,235674,250228,4351,0.89,1868,2483,2.39,75535,15.41,은평구,224,278,468
12,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,3.87,4167,8393,2.27,49645,15.28,서대문구,50,68,292
13,마포구,170219,385624,182905,202719,374742,178661,196081,10882,2.82,4244,6638,2.20,50122,13.00,마포구,118,169,379
14,양천구,176559,473087,233189,239898,469221,231409,237812,3866,0.82,1780,2086,2.66,56070,11.85,양천구,142,30,467
15,강서구,256042,608361,296098,312263,601696,292871,308825,6665,1.10,3227,3438,2.35,77381,12.72,강서구,258,184,81
16,구로구,171751,440396,220903,219493,408369,202731,205638,32027,7.27,18172,13855,2.38,59838,13.59,구로구,173,246,323
17,금천구,106333,253344,129791,123553,234238,119023,115215,19106,7.54,10768,8338,2.20,34640,13.67,금천구,51,269,354
18,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,8.63,19345,15515,2.19,54704,13.54,영등포구,214,195,373
19,동작구,173544,406715,197848,208867,394353,192215,202138,12362,3.04,5633,6729,2.27,57711,14.19,동작구,341,103,314
20,관악구,258536,522292,262428,259864,504445,253911,250534,17847,3.42,8517,9330,1.95,70807,13.56,관악구,260,390,613
21,서초구,174225,445164,213279,231885,440954,211156,229798,4210,0.95,2123,2087,2.53,54055,12.14,서초구,157,336,398
22,강남구,231219,557865,267314,290551,552976,264834,288142,4889,0.88,2480,2409,2.39,65859,11.81,강남구,430,584,932
23,송파구,266550,671994,326511,345483,665282,323228,342054,6712,1.00,3283,3429,2.50,77978,11.60,송파구,21,68,463
24,강동구,177490,438225,217570,220655,434027,215588,218439,4198,0.96,1982,2216,2.45,56983,13.00,강동구,99,155,377

In [169]:
# 컬럼명은 다르지만 값이 같은 컬럼인 '기관명'삭제
result.drop('기관명', axis =1)

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,외국인 비율,남자외국인,여자외국인,세대당인구,고령자,고령자비율,2014년 CCTV 수,2015년 CCTV 수,2016년 CCTV 수
0,종로구,73879,164348,79962,84386,154549,75749,78800,9799,5.96,4213,5586,2.09,26429,16.08,314,211,630
1,중구,60903,135139,66582,68557,126082,62376,63706,9057,6.70,4206,4851,2.07,21655,16.02,190,72,348
2,용산구,108497,245411,119985,125426,229909,111262,118647,15502,6.32,8723,6779,2.12,37238,15.17,218,112,398
3,성동구,134543,314551,154672,159879,306532,150937,155595,8019,2.55,3735,4284,2.28,41752,13.27,91,241,265
4,광진구,161407,371671,180206,191465,357149,173946,183203,14522,3.91,6260,8262,2.21,44470,11.96,78,53,174
5,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,4.29,5905,9749,2.18,56284,15.42,23,198,579
6,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1.14,1885,2799,2.27,59992,14.58,121,177,109
7,성북구,187234,453902,220024,233878,442226,215421,226805,11676,2.57,4603,7073,2.36,66896,14.74,78,360,204
8,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1.11,1413,2236,2.26,57002,17.40,120,138,204
9,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,0.63,824,1356,2.49,54293,15.74,159,42,386
10,노원구,217999,555803,269762,286041,551902,268144,283758,3901,0.70,1618,2283,2.53,75081,13.51,57,451,516
11,은평구,203431,490253,237542,252711,485902,235674,250228,4351,0.89,1868,2483,2.39,75535,15.41,224,278,468
12,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,3.87,4167,8393,2.27,49645,15.28,50,68,292
13,마포구,170219,385624,182905,202719,374742,178661,196081,10882,2.82,4244,6638,2.20,50122,13.00,118,169,379
14,양천구,176559,473087,233189,239898,469221,231409,237812,3866,0.82,1780,2086,2.66,56070,11.85,142,30,467
15,강서구,256042,608361,296098,312263,601696,292871,308825,6665,1.10,3227,3438,2.35,77381,12.72,258,184,81
16,구로구,171751,440396,220903,219493,408369,202731,205638,32027,7.27,18172,13855,2.38,59838,13.59,173,246,323
17,금천구,106333,253344,129791,123553,234238,119023,115215,19106,7.54,10768,8338,2.20,34640,13.67,51,269,354
18,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,8.63,19345,15515,2.19,54704,13.54,214,195,373
19,동작구,173544,406715,197848,208867,394353,192215,202138,12362,3.04,5633,6729,2.27,57711,14.19,341,103,314
20,관악구,258536,522292,262428,259864,504445,253911,250534,17847,3.42,8517,9330,1.95,70807,13.56,260,390,613
21,서초구,174225,445164,213279,231885,440954,211156,229798,4210,0.95,2123,2087,2.53,54055,12.14,157,336,398
22,강남구,231219,557865,267314,290551,552976,264834,288142,4889,0.88,2480,2409,2.39,65859,11.81,430,584,932
23,송파구,266550,671994,326511,345483,665282,323228,342054,6712,1.00,3283,3429,2.50,77978,11.60,21,68,463
24,강동구,177490,438225,217570,220655,434027,215588,218439,4198,0.96,1982,2216,2.45,56983,13.00,99,155,377

In [288]:
seoul_report_df.join(seoul_cctv.set_index('기관명'), how = 'inner')

Empty DataFrame
Columns: [자치구, 세대, 총인구, 남자, 여자, 한국인, 한국인남자, 한국인여자, 외국인, 외국인 비율, 남자외국인, 여자외국인, 세대당인구, 고령자, 고령자비율, 2014년 CCTV 수, 2015년 CCTV 수, 2016년 CCTV 수]
Index: []

# Groupby와 집계
## forestfire.csv 파일
- 포르투칼 북서부 산림 산불관련 데이터 셋 [UCI Machine learning repository](https://archive.ics.uci.edu/ml/datasets/forest+fires)    


1. forestfire.csv 파일을 DataFrame으로 읽기
1. 어떤 컬럼들이 범주형 컬럼인지 확인.
1. 월(month)과 요일(day) 의 고유한(unique) 값들과 각각의 행수 조회
1. 요일(day) 별 wind의 평균을 조회
1. 요일(day) 별 wind, rain의 평균을 조회
1. 요일(day) 별 wind, rain의 평균과 합계과 개수 조회
1. 요일(day) 별로 wind는 평균을 rain은 합계와 최대값을 조회
1. 월(month) 그리고 요일별(day) temp의 최대값과 최소값을 조회
1. X좌표(X), Y좌표(Y)별 temp의 평균울 pivot table로 조회

In [264]:
# forestfire.csv 파일을 DataFrame으로 읽기
forestfire_df=pd.read_csv('data2/forestfire.csv')
forestfire_df['X'].unique()#.value_counts

array([7, 8, 6, 5, 4, 2, 9, 1, 3], dtype=int64)

In [194]:
# 어떤 컬럼들이 범주형 컬럼인지 확인.
forestfire_df.info()  # 범주형 : month, day,X,Y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [182]:
# 월(month)과 요일(day) 의 고유한(unique) 값들과 각각의 행수 조회
forestfire_df['month'].unique()

array(['mar', 'oct', 'aug', 'sep', 'apr', 'jun', 'jul', 'feb', 'jan',
       'dec', 'may', 'nov'], dtype=object)

In [184]:
forestfire_df['month'].value_counts()

aug    184
sep    172
mar     54
jul     32
feb     20
jun     17
oct     15
dec      9
apr      9
jan      2
may      2
nov      1
Name: month, dtype: int64

In [188]:
forestfire_df['day'].value_counts()

sun    95
fri    85
sat    84
mon    74
tue    64
thu    61
wed    54
Name: day, dtype: int64

In [187]:
forestfire_df[['month','day']].value_counts().to_frame()

            0
month day
aug   sun  40
sep   fri  38
aug   sat  29
sep   mon  28
aug   tue  28
...        ..
may   sat   1
      fri   1
feb   thu   1
      wed   1
apr   fri   1

[64 rows x 1 columns]

In [191]:
# 요일(day) 별 wind의 평균을 조회
forestfire_df.groupby('day')['wind'].mean()

day
fri    4.494118
mon    3.737838
sat    3.758333
sun    4.123158
thu    3.711475
tue    4.271875
wed    3.912963
Name: wind, dtype: float64

In [193]:
# 요일(day) 별 wind, rain의 평균을 조회
forestfire_df.groupby('day')[['wind','rain']].mean()

         wind      rain
day
fri  4.494118  0.018824
mon  3.737838  0.000000
sat  3.758333  0.000000
sun  4.123158  0.010526
thu  3.711475  0.000000
tue  4.271875  0.131250
wed  3.912963  0.003704

In [265]:
# 요일(day) 별 wind, rain의 평균과 합계과 개수 조회
forestfire_df.groupby('day')[['wind','rain']].agg(['mean','sum','count'])

         wind                   rain
         mean    sum count      mean  sum count
day
fri  4.494118  382.0    85  0.018824  1.6    85
mon  3.737838  276.6    74  0.000000  0.0    74
sat  3.758333  315.7    84  0.000000  0.0    84
sun  4.123158  391.7    95  0.010526  1.0    95
thu  3.711475  226.4    61  0.000000  0.0    61
tue  4.271875  273.4    64  0.131250  8.4    64
wed  3.912963  211.3    54  0.003704  0.2    54

In [267]:
# 요일(day) 별로 wind는 평균을 rain은 합계와 최대값을 조회
forestfire_df.groupby('day').agg({'wind':'mean','rain':['sum','max']})

         wind rain
         mean  sum  max
day
fri  4.494118  1.6  1.4
mon  3.737838  0.0  0.0
sat  3.758333  0.0  0.0
sun  4.123158  1.0  1.0
thu  3.711475  0.0  0.0
tue  4.271875  8.4  6.4
wed  3.912963  0.2  0.2

In [269]:
# 월(month) 그리고 요일별(day) temp의 최대값과 최소값을 조회
ffdf=forestfire_df.groupby(['month','day'])['temp'].agg(['max','min'])  #--> 저장해서 파일로 보면 전체 데이터 한번에 다볼 수 있다.
ffdf

            max   min
month day
apr   fri  16.7  16.7
      mon  10.9  10.9
      sat   9.3   9.3
      sun  17.6  13.4
      thu   5.8   5.8
...         ...   ...
sep   sat  30.2  15.4
      sun  28.3  12.2
      thu  27.7  12.9
      tue  24.3  13.1
      wed  26.4  10.5

[64 rows x 2 columns]

In [270]:
for row in ffdf.iterrows():  # DataFrame을 한행씩 제공하는 generator
    print(row)

(('apr', 'fri'), max    16.7
min    16.7
Name: (apr, fri), dtype: float64)
(('apr', 'mon'), max    10.9
min    10.9
Name: (apr, mon), dtype: float64)
(('apr', 'sat'), max    9.3
min    9.3
Name: (apr, sat), dtype: float64)
(('apr', 'sun'), max    17.6
min    13.4
Name: (apr, sun), dtype: float64)
(('apr', 'thu'), max    5.8
min    5.8
Name: (apr, thu), dtype: float64)
(('apr', 'wed'), max    15.2
min    15.2
Name: (apr, wed), dtype: float64)
(('aug', 'fri'), max    32.4
min    11.2
Name: (aug, fri), dtype: float64)
(('aug', 'mon'), max    32.6
min     8.0
Name: (aug, mon), dtype: float64)
(('aug', 'sat'), max    30.8
min     5.1
Name: (aug, sat), dtype: float64)
(('aug', 'sun'), max    33.1
min    10.4
Name: (aug, sun), dtype: float64)
(('aug', 'thu'), max    32.4
min    16.2
Name: (aug, thu), dtype: float64)
(('aug', 'tue'), max    33.3
min    14.4
Name: (aug, tue), dtype: float64)
(('aug', 'wed'), max    30.8
min    16.6
Name: (aug, wed), dtype: float64)
(('dec', 'fri'), max    2.2
min    2.2
Name: (dec, fri), dtype: float64)
(('dec', 'mon'), max    4.6
min    4.6
Name: (dec, mon), dtype: float64)
(('dec', 'sun'), max    4.8
min    4.8
Name: (dec, sun), dtype: float64)
(('dec', 'thu'), max    5.1
min    5.1
Name: (dec, thu), dtype: float64)
(('dec', 'tue'), max    5.1
min    5.1
Name: (dec, tue), dtype: float64)
(('dec', 'wed'), max    5.1
min    5.1
Name: (dec, wed), dtype: float64)
(('feb', 'fri'), max    15.7
min     7.5
Name: (feb, fri), dtype: float64)
(('feb', 'mon'), max    13.9
min     5.3
Name: (feb, mon), dtype: float64)
(('feb', 'sat'), max    15.4
min     4.6
Name: (feb, sat), dtype: float64)
(('feb', 'sun'), max    12.4
min     4.2
Name: (feb, sun), dtype: float64)
(('feb', 'thu'), max    6.7
min    6.7
Name: (feb, thu), dtype: float64)
(('feb', 'tue'), max    5.1
min    4.6
Name: (feb, tue), dtype: float64)
(('feb', 'wed'), max    8.8
min    8.8
Name: (feb, wed), dtype: float64)
(('jan', 'sat'), max    5.3
min    5.3
Name: (jan, sat), dtype: float64)
(('jan', 'sun'), max    5.2
min    5.2
Name: (jan, sun), dtype: float64)
(('jul', 'fri'), max    22.9
min    13.4
Name: (jul, fri), dtype: float64)
(('jul', 'mon'), max    23.0
min    17.9
Name: (jul, mon), dtype: float64)
(('jul', 'sat'), max    25.3
min    16.6
Name: (jul, sat), dtype: float64)
(('jul', 'sun'), max    29.3
min    18.2
Name: (jul, sun), dtype: float64)
(('jul', 'thu'), max    30.2
min    27.2
Name: (jul, thu), dtype: float64)
(('jul', 'tue'), max    26.9
min    17.1
Name: (jul, tue), dtype: float64)
(('jul', 'wed'), max    19.3
min    12.6
Name: (jul, wed), dtype: float64)
(('jun', 'fri'), max    23.2
min    19.2
Name: (jun, fri), dtype: float64)
(('jun', 'mon'), max    20.7
min    14.3
Name: (jun, mon), dtype: float64)
(('jun', 'sat'), max    24.5
min    10.6
Name: (jun, sat), dtype: float64)
(('jun', 'sun'), max    22.2
min    14.3
Name: (jun, sun), dtype: float64)
(('jun', 'thu'), max    26.4
min    22.7
Name: (jun, thu), dtype: float64)
(('jun', 'wed'), max    28.0
min    19.6
Name: (jun, wed), dtype: float64)
(('mar', 'fri'), max    18.8
min     8.2
Name: (mar, fri), dtype: float64)
(('mar', 'mon'), max    16.1
min     8.3
Name: (mar, mon), dtype: float64)
(('mar', 'sat'), max    17.4
min    11.6
Name: (mar, sat), dtype: float64)
(('mar', 'sun'), max    12.4
min     5.5
Name: (mar, sun), dtype: float64)
(('mar', 'thu'), max    18.2
min     5.3
Name: (mar, thu), dtype: float64)
(('mar', 'tue'), max    15.8
min    14.1
Name: (mar, tue), dtype: float64)
(('mar', 'wed'), max    15.9
min     8.9
Name: (mar, wed), dtype: float64)
(('may', 'fri'), max    18.0
min    18.0
Name: (may, fri), dtype: float64)
(('may', 'sat'), max    11.3
min    11.3
Name: (may, sat), dtype: float64)
(('nov', 'tue'), max    11.8
min    11.8
Name: (nov, tue), dtype: float64)
(('oct', 'fri'), max    11.3
min    11.3
Name: (oct, fri), dtype: float64)
(('oct', 'mon'), max    19.1
min    16.1
Name: (oct, mon), dtype: float64)
(('oct', 'sat'), max    18.4
min    14.6
Name: (oct, sat), dtype: float64)
(('oct', 'sun'), max    20.6
min    13.8
Name: (oct, sun), dtype: float64)
(('oct', 'tue'), max    21.7
min    18.0
Name: (oct, tue), dtype: float64)
(('oct', 'wed'), max    20.2
min    15.9
Name: (oct, wed), dtype: float64)
(('sep', 'fri'), max    27.6
min    10.1
Name: (sep, fri), dtype: float64)
(('sep', 'mon'), max    23.0
min     9.8
Name: (sep, mon), dtype: float64)
(('sep', 'sat'), max    30.2
min    15.4
Name: (sep, sat), dtype: float64)
(('sep', 'sun'), max    28.3
min    12.2
Name: (sep, sun), dtype: float64)
(('sep', 'thu'), max    27.7
min    12.9
Name: (sep, thu), dtype: float64)
(('sep', 'tue'), max    24.3
min    13.1
Name: (sep, tue), dtype: float64)
(('sep', 'wed'), max    26.4
min    10.5
Name: (sep, wed), dtype: float64)

In [271]:
forestfire_df.pivot_table(values ='temp', index = 'month', columns ='day', aggfunc=['max','min'])

        max                                       min                          \
day     fri   mon   sat   sun   thu   tue   wed   fri   mon   sat   sun   thu
month
apr    16.7  10.9   9.3  17.6   5.8   NaN  15.2  16.7  10.9   9.3  13.4   5.8
aug    32.4  32.6  30.8  33.1  32.4  33.3  30.8  11.2   8.0   5.1  10.4  16.2
dec     2.2   4.6   NaN   4.8   5.1   5.1   5.1   2.2   4.6   NaN   4.8   5.1
feb    15.7  13.9  15.4  12.4   6.7   5.1   8.8   7.5   5.3   4.6   4.2   6.7
jan     NaN   NaN   5.3   5.2   NaN   NaN   NaN   NaN   NaN   5.3   5.2   NaN
jul    22.9  23.0  25.3  29.3  30.2  26.9  19.3  13.4  17.9  16.6  18.2  27.2
jun    23.2  20.7  24.5  22.2  26.4   NaN  28.0  19.2  14.3  10.6  14.3  22.7
mar    18.8  16.1  17.4  12.4  18.2  15.8  15.9   8.2   8.3  11.6   5.5   5.3
may    18.0   NaN  11.3   NaN   NaN   NaN   NaN  18.0   NaN  11.3   NaN   NaN
nov     NaN   NaN   NaN   NaN   NaN  11.8   NaN   NaN   NaN   NaN   NaN   NaN
oct    11.3  19.1  18.4  20.6   NaN  21.7  20.2  11.3  16.1  14.6  13.8   NaN
sep    27.6  23.0  30.2  28.3  27.7  24.3  26.4  10.1   9.8  15.4  12.2  12.9


day     tue   wed
month
apr     NaN  15.2
aug    14.4  16.6
dec     5.1   5.1
feb     4.6   8.8
jan     NaN   NaN
jul    17.1  12.6
jun     NaN  19.6
mar    14.1   8.9
may     NaN   NaN
nov    11.8   NaN
oct    18.0  15.9
sep    13.1  10.5

In [ ]:
# X좌표(X), Y좌표(Y)별 temp의 평균울 pivot table로 조회

In [216]:
forestfire_df.groupby(['X','Y'])['temp'].mean()

X  Y
1  2    20.747368
   3    21.730000
   4    19.606667
   5    25.000000
2  2    18.532000
   3    18.000000
   4    21.833333
   5    21.545000
3  3    24.200000
   4    17.706977
   5    14.714286
   6    17.800000
4  3    21.045455
   4    17.905556
   5    17.864000
   6    12.250000
5  4    18.617391
   5    14.666667
   6    20.000000
6  3    18.536000
   4    15.388889
   5    16.477551
   6    25.900000
7  3    14.400000
   4    17.875556
   5    19.618182
   6    19.750000
8  3    20.566667
   4    21.300000
   5    21.325000
   6    19.815385
   8    26.200000
9  4    24.225000
   5    28.000000
   6    20.500000
   9    20.066667
Name: temp, dtype: float64

In [218]:
forestfire_df.pivot_table(values= 'temp', index ='X', columns='Y', aggfunc ='mean')

Y          2          3          4          5          6     8          9
X
1  20.747368  21.730000  19.606667  25.000000        NaN   NaN        NaN
2  18.532000  18.000000  21.833333  21.545000        NaN   NaN        NaN
3        NaN  24.200000  17.706977  14.714286  17.800000   NaN        NaN
4        NaN  21.045455  17.905556  17.864000  12.250000   NaN        NaN
5        NaN        NaN  18.617391  14.666667  20.000000   NaN        NaN
6        NaN  18.536000  15.388889  16.477551  25.900000   NaN        NaN
7        NaN  14.400000  17.875556  19.618182  19.750000   NaN        NaN
8        NaN  20.566667  21.300000  21.325000  19.815385  26.2        NaN
9        NaN        NaN  24.225000  28.000000  20.500000   NaN  20.066667

In [220]:
forestfire_df["Y"].unique()

array([5, 4, 6, 3, 2, 9, 8], dtype=int64)

In [227]:
forestfire_df["X"].unique()

array([7, 8, 6, 5, 4, 2, 9, 1, 3], dtype=int64)